* {
  box-sizing: border-box;
  color: white;
  position: fixed;
}
html {
  overflow: hidden;
  font-size: 20px;
}
body {
  overflow: hidden;
  margin: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#score-bar {
  top: 0.2rem;
}

#cnvs {
  background-size: cover;
  border: 1px solid black;
}
#gameArea {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#canvasArea {
  display: flex;
  align-items: center;
  justify-content: center;
}